<!DOCTYPE html>
<html lang="ko">
<!-- layout 템플릿 불러오기 -->
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

	<!-- Content 작성부분 적용하기 -->
	<th:block th:fragment="content">
	
		<h2>BootStrap CONTENT Page</h2>
		<h4>fragment : Content</h4>
		<br>
		
		<!-- Board List -->
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">No</th>
					<th scope="col">Title</th>
					<th scope="col">Write</th>
					<th scope="col">RegDate</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="dto : ${result.dtoList}">
					<th scope="row"> 
					<a th:href="@{/guestbook/read(gno=${dto.gno})}"> [[${dto.gno}]]</a></th>
					<td>[[${dto.title}]]</td>
					<td>[[${dto.writer}]]</td>
					<td>[[${#temporals.format(dto.regDate,'yyyy-MM-dd')}]]</td>
				</tr>
			</tbody>
		</table>
		
		<!-- Page List -->
		<ul class="pagination h-100 justify-content-center align-items-center">
			<li class="page-item" th:if="${result.prev}">
				<a class="page-link" th:href="@{/guestbook/list(page=${result.start-1})}" 
					tabindex="-1">
					Prev</a>
			</li>
			
			<li class="page-item"+${result.page == page? 'active':''} 
							th:each="page : ${result.pageList}">
				<a class="page-link" th:href="@{/guestbook/list(page=${page})}">
				[[${page}]]</a>
			</li>
			
			
			<li class="page-item" th:if="${result.next}">
				<a class="page-link" th:href="@{/guestbook/list(page=${result.end+1})}">
				next</a>
			</li>
		
		</ul>
	<button type="button" class="btn btn-primary" onclick="location.href='/guestbook/register';">Register</button>
	
	<!-- modal -->
	<div class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
						<h5 class="modal-title"> Modal Title</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hedden="ture">&times;</span>
						</button>
				</div>
				<div class="modal-body">
						<p>Modal body text goes here.</p>
				</div>
				<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save Change</button>
				</div>

			</div>
		</div>
	</div>
	<!-- end modal -->

	<script th:inline="javascript">
	// modal
		var msg = [[${msg}]];
		console.log(msg);
		if(msg){
			$(".modal").modal();			//   .modal = class 명 선언, modal()은 함수명령어
		}
		
	//검색
// 		var searchForm = $("#searchForm");		//	#searchForm = id 명 선언
// 		$('.btn-search').click(function(e){
// 			searchForm.submit();
// 		});
// 		$('.btn-clear').click(function(e){
// 			searchForm.empty().submit();
// 		})
	
	</script>
	

	
	</th:block>>

</th:block>

</html>